* {
    margin: 10px;
}

div.naglowek {
    background-color: palevioletred;
    color: whitesmoke;
    font-style: normal;
    font-size: 40;
    position: top;
    text-align: center;
}

div.CV {
    background-color: #f3aedc;
    color: whitesmoke;
    font-style: normal;
    font-size: 30;
    position: top;
    text-align: center;
}

.picture {
    width: 300px;
}

.przejscie {
    font-weight: bold;
}

.przejscie:hover {
    font-style: oblique;
    color: yellowgreen;
}

nav a.przejscie {
    text-decoration: none;
    background-color: teal;
    /* margin: 20px; */
    padding: 20px;
}

a.przejscie {
    background-color: tomato;
}

a#tumblrlink {
    font-size: 25px;
}

footer {
    text-align: center;
    background-color: burlywood;
}

footer div {
    width: 600px;
    height: 300px;
    border: 2px dotted black;
    border-radius: 40px;
}

footer p {
    margin: 40px;
    padding: 40px;
}

div.column {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    overflow: scroll;
}

div.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
