* {
    margin: 0;
    padding: 0;
}
body {
}

nav#menu_sidebar {
    background-color: #c68b3b;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    background-color: #fff9f2;
}

#everything {
    height: 1000px;
    display: grid;
    grid-template-columns: 20% 80%;
    /* grid-template-rows: 20% 20% 20% 20% 20%; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo {
    /* height: 80%; */
    width: 80%;
    padding: 25px;
}

.page_title_decoration {
    width: 250px;
}

.subpoint_decoration {
    width: 25px;
    margin: 10px;
}

.recommendation_item {
    /* border: solid 2px black; */
    margin: 60px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.subpoint_decoration {
    display: flex;
    align-items: flex-start;
    flex-direction: column; */
}

.recommendation_item q.reco_quote {
    /* border: solid 2px black; */
    margin: 10px;
}

.recommendation_main_title {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.subpage_heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: #c68b3b;
}

cite {
    color: #c68b3b;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

q {
    color: #c68b3b;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.reco_quote {
    text-align: justify;
}

.reco_author {
    text-align: left;
    font-size: 13px;
}
