div.nagłówek{
    background-color: palevioletred;
    color: whitesmoke;
    font-style: normal;
    font-size: 40;
    position: top;
    text-align: center;
}
div.CV{
    background-color: #f3aedc;
    color: whitesmoke;
    font-style: normal;
    font-size: 30;
    position: top;
    text-align: center;
}
.picture{
    width: 300px;
}